<div class="container" style="background-color:white">
    <br>
    <% if(session.authenticated && session.User.admin) {%>
      <legend>Publish Problem Sets</legend>
    <% } else { %>
      <legend>Problem Sets</legend>
    <% } %>
    <div class="table-responsive">
        <table class="table table-bordered table-hover table-striped">
            <thead>
                  <th></th>
                  <th colspan="3">SUBMISSIONS</th>
                  <th></th>
                  <% if(session.authenticated) { %>
                    <th></th>
                  <% } %>
            </thead>
          <tbody>
              <tr>
                <td>NAME</td>
                <td>TOTAL</td>
                <td>ACC.</td>
                <td>RATIO</td>
                <td>CATEGORY</td>
                <% if(session.authenticated && !session.User.admin) { %>
                    <td>SOLVED</td>
                  <% } %>
                <% if(session.authenticated) { %>
                        <% if(session.User.admin) { %>
                            <td></td>
                        <% } %>
                <% } %>
              </tr>
              <% var idx = 1 %>
              <% _.each(problemsPublish, function(problem){%>
                <tr>
                    <% var tmp = []; %>
                    <% var tot = 0 ; %>
                    <% var acc = 0 ; %>
                    <td><a href="/problem/preview?prob=<%=problem.valName%>"><%=problem.name%></a></td>
                    <td>
                      <% if(problemSubs.hasOwnProperty(problem.id)) { %>
                        <%= problemSubs[problem.id].total %>
                      <% } else { %>
                        0
                      <% } %>
                    </td>
                    <td>
                      <% if(problemSubs.hasOwnProperty(problem.id)) { %>
                        <%= problemSubs[problem.id].acc %>
                      <% } else { %>
                        0
                      <% } %>
                    </td>
                    <td>
                      <% if(problemSubs.hasOwnProperty(problem.id)) { %>
                        <%= Math.round(problemSubs[problem.id].acc/problemSubs[problem.id].total*100) %>%
                      <% } else { %>
                        0%
                      <% } %>
                    </td>
                    <td><%=problem.category%></td>
                     <% if(session.authenticated && !session.User.admin) { %>
                        <% if(problemSubs.hasOwnProperty(problem.id)) { %>
                            <% if(problemSubs[problem.id].state==1) { %>
                                <td class="bg-success"><span class="glyphicon glyphicon-ok-circle" aria-hidden="true" title="solved"></span></td>
                            <% } else { %>
                                <td class="bg-danger"><span class="glyphicon glyphicon-remove-circle" aria-hidden="true" title="not solved"></span></td>
                            <% } %>
                        <% } %>
                     <% } %>
                     <% if(session.authenticated) { %>
                        <% if(session.User.admin) { %>
                            <td>
                              <a class="btn btn-success" href="/problem/unpublish/<%=problem.id%>"><span class="glyphicon glyphicon-export" aria-hidden="true"></span> Unpublish</a>
                         <a href="/problem/preview?prob=<%=problem.valName%>"class="btn btn-primary"> Preview</a>
                              <a class="btn btn-warning" href="/problem/edit/<%=problem.id%>">Edit</a>
                              <a class="btn btn-danger" href="/problem/remove_problem/<%=problem.id%>">Remove</a>
                            </td>
                        <% } else { %>
                            <% if(session.User.id == problem.id_maker) { %>
                              <td>
                                <a class="btn btn-warning" href="/problem/edit/<%=problem.id%>">Edit</a>
                                <a class="btn btn-danger" href="/problem/remove_problem/<%=problem.id%>">Remove</a>
                              </td>
                            <% } %>
                        <% } %>
                     <% } %>
                </tr>
                <% idx++ %>
              <%})%>
          </tbody>
        </table>
    </div>
    <% if(session.authenticated && session.User.admin) {%>
      <br>
      <legend>Not Publish Problem Sets</legend>
      <div class="table-responsive">
          <table class="table table-bordered table-hover table-striped">
              <thead>
                  <th>NAME</th>
                  <th></th>
              </thead>
            <tbody>
                <% var idx = 1 %>
                <% _.each(problemsNotPublish, function(problem){%>
                  <tr>
                      <td><%=problem.name%></td>
                      <td>
                         <a class="btn btn-success" href="/problem/publish/<%=problem.id%>"><span class="glyphicon glyphicon-export" aria-hidden="true"></span> Publish</a>
                         <a href="/problem/preview?prob=<%=problem.valName%>"class="btn btn-primary"> Preview</a>
                         <a class="btn btn-warning" href="/problem/edit/<%=problem.id%>">Edit</a>
                         <a class="btn btn-danger" href="/problem/remove_problem/<%=problem.id%>">Remove</a>
                      </td>
                  </tr>
                  <% idx++ %>
                <%})%>
            </tbody>
          </table>
      </div>
    <% } %>
</div>