<div id="body" class="container" style="">
<% if(flash) { %>
<% if(flash.err) { %>
      <div>
      <br><br>
      <div class="alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        <% Object.keys(flash.err).forEach(function(error) { %>
              <%= flash.err[error] %>
        <% }) %>
      </div>
      </div>
<% } else if (flash.success){ %>
  <div>
  <br><br>
  <div class="alert alert-success" role="alert">
    <span class="sr-only">Success:</span>
    <% Object.keys(flash.success).forEach(function(success) { %>
          <%= flash.success[success] %>
    <% }) %>
  </div>
  </div>
<% } %>
<% } %>
<div class="container" style="background-color:white">
	<div class="row">
	    <div class="col-md-9"><h1><%= user.username %> <small><%= user.name %></small></h1></div>
	    <div class="col-md-3 text-right"><h2><%= user.rating %><sup><small>Highest : <%=user.highest_rating%></small></sup></h2></div>
	</div>
    <hr >
    <% if(session.authenticated && user.id == session.User.id) { %>
	    <div class="pull-right">
			<a href="/user/edit"><button type="button" class="btn btn-success">Edit Profile</button></a>
		</div>
	<% } %>
	<h3><%= user.university.name %></h3>
    <div class="row">
    	<span class="col-md-2">Registered : </span><span class="col-md-2" id="regitered"></span>
    </div>
	<% if(userRating && userRating.length > 0) { %>
	    <div style="width:70%">
			<br><br>
			<div>
				<canvas id="canvas" height="300" width="600"></canvas>
				<div class="text-center horizontaltext_content">Date</div>
				<div class="text-center verticaltext_content">Rating</div>
			</div>
			
		</div>
	<% } %>
</div>
</div>

<% if(userRating) { %>
	<script>
		Chart.types.Line.extend({
		    name: "LineAlt",
		    draw: function () {
		        Chart.types.Line.prototype.draw.apply(this, arguments);
		        
		        var ctx = this.chart.ctx;
		        ctx.save();
		        // text alignment and color
		        ctx.textAlign = "center";
		        ctx.textBaseline = "bottom";
		        ctx.fillStyle = this.options.scaleFontColor;
		        // position
		        var x = this.scale.xScalePaddingLeft * 0.4;
		        var y = this.chart.height / 2;
		        // change origin
		        ctx.translate(x, y)
		        // rotate text
		        ctx.rotate(-90 * Math.PI / 180);
		        ctx.fillText(this.datasets[0].label, 0, 0);
		        ctx.restore();
		    }
		});

		var lineChartData = {
			labels : [
				<% _.each(userRating, function(rating){ %>
					"<%=rating.date.getDate() + "-" + (rating.date.getMonth()+1) + "-" + rating.date.getFullYear()%>",
				<% }) %>
			],
			datasets : [
				{
					label: "This",
					fillColor : "rgba(140,138,233,0.2)",
					strokeColor : "rgba(151,187,205,1)",
					pointColor : "rgba(77,80,233,1)",
					pointStrokeColor : "#fff",
					pointHighlightFill : "#fff",
					pointHighlightStroke : "rgba(151,187,205,1)",
					data : [
						<% _.each(userRating, function(rating){ %>
							"<%=rating.rating%>",
						<% }) %>
					]
				}
			]
		}

		$( document ).ready(function() {
		    var ctx = document.getElementById("canvas").getContext("2d");
			window.myLine = new Chart(ctx).Line(lineChartData, {
				responsive: true
			});
		});

		var monthNames = ["January", "February", "March", "April", "May", "June",
		  "July", "August", "September", "October", "November", "December"
		];
		$("#regitered").html("<%=user.createdAt.getDate()%>"+" "+monthNames["<%=user.createdAt.getMonth()%>"]+" "+"<%=user.createdAt.getFullYear()%>");
	</script>
<% } %>