<div class="container" style="background-color:white">
  <br>
    <legend>Ranklists</legend>
    <div class="row">
      <div class="col-md-4">
        <div class="btn-group" role="group" aria-label="...">
          <a href="/ranklists"><button type="button" class="btn btn-default active">User ranklist</button></a>
          <a href="/ranklists/university"><button type="button" class="btn btn-default">University ranklist</button></a>
        </div>
      </div>
      <div class="col-md-3">
        <select class="form-control" id="filterUniversity">
          <option value="" disabled selected hidden>Ranklist for university</option>
          <% _.each(universities, function(university) {%>
            <option value="<%=university.val_name%>"><%=university.name%></option>
          <% }) %>
        </select>
      </div>
    </div>
    <br>
    <br>
    <div class="table-responsive">
        <table class="table table-bordered table-hover table-striped">
          <thead>
                  <th>#</th>
                  <th>User</th>
                  <th>University</th>
                  <th>Rating</th>
          </thead>
          <tbody>
              <% var idx = 1 %>
              <% _.each(users, function(user){%>
                <% if(!user.admin && user.verification) { %>
                <tr>
                    <td><%=idx%></td>
                    <td><a href="/user/profile/<%=user.username%>"><%=user.username%></a></td>
                    <td><%=user.university.name%></td>
                    <td><%=user.rating%></td>
                </tr>
                <% idx++ %>
                <% } %>
              <%})%>

          </tbody>
        </table>
    </div>
</div>