<div class="container" style="background-color:white">
  <br>
    <legend>University Ranklists</legend>
    <div class="row">
      <div class="col-md-4">
        <div class="btn-group" role="group" aria-label="...">
          <a href="/ranklists"><button type="button" class="btn btn-default">User ranklist</button></a>
          <a href="/ranklists/university"><button type="button" class="btn btn-default active btn-disabled" disabled>University ranklist</button></a>
        </div>
      </div>
    </div>
    <br>
    <br>
    <div class="table-responsive">
        <table class="table table-bordered table-hover table-striped">
          <thead>
                  <th>No.</th>
                  <th>University</th>
                  <th>Members</th>
                  <th>Rating</th>
          </thead>
          <tbody>
              <% var idx = 1, tempRating = 0, idxSame = 1 %>
              <% _.each(universities, function(university){%>
                <% if(idx == 1) { tempRating = university.rating } %>
                <tr>
                    <td><% if(tempRating == university.rating) { %><%=idxSame%><% } else { %><%=idx%><% } %></td>
                    <td><a href="/ranklists/university/<%=university.value%>"><%=university.name%></a></td>
                    <td><%=university.member%></td>
                    <td><%= university.rating %></td>
                </tr>
                <% if(tempRating != university.rating) { tempRating = university.rating; idxSame = idx } %>
                <% idx++ %>
              <%})%>
          </tbody>
        </table>
    </div>
</div>