<div class="container" style="background-color:white">
  <br>
    <legend>Ranklists</legend>
    <div class="row">
      <div class="col-md-4">
        <div class="btn-group" role="group" aria-label="...">
          <a href="/ranklists"><button type="button" class="btn btn-default active btn-disabled" disabled>User ranklist</button></a>
          <a href="/ranklists/university"><button type="button" class="btn btn-default">University ranklist</button></a>
        </div>
      </div>
    </div>
    <br>
    <br>
    <div class="table-responsive">
        <table class="table table-bordered table-hover table-striped">
          <thead>
                  <th>No.</th>
                  <th>User</th>
                  <th>University</th>
                  <th>Rating</th>
          </thead>
          <tbody>
              <% var idx = ((page*10)-10 )+1; %>
              <% _.each(usersRank, function(user){%>
                <tr>
                    <td><%=idx%></td>
                    <td><a href="/user/profile/<%=user.user.username%>"><%=user.user.name%></a></td>
                    <td><%=user.user.university.name%></td>
                    <td><%=user.user.rating%></td>
                    <% idx++%>
                </tr>
              <%})%>
          </tbody>
        </table>
    </div>
    <nav>
      <ul class="pager">
        <% if(page==1) { %>
         <li class="disabled">
            <a>Previous</a>
         </li>
        <% } else { %>
        <li>
           <a href="/ranklists?page=<%=prevpage%>" class="disabled">Previous</a>
        </li>
        <% } %>
        <% if(disabledNext) { %>
         <li class="disabled">
            <a>Next</a>
         </li>
        <% } else { %>
          <li><a href="/ranklists?page=<%=nextpage%>">Next</a></li>
        <% } %>
      </ul>
    </nav>
</div>