<div class="container" style="background-color:white">
    <legend><h2><%=university.name%></h2></legend>
    <div class="table-responsive">
        <table class="table table-bordered table-hover table-striped">
          <thead>
                  <th>#</th>
                  <th>Name</th>
                  <th>Rating</th>
          </thead>
          <tbody>
              <% var idx = ((page*10)-10 )+1; %>
              <% _.each(usersRank, function(user){%>
                <tr>
                    <td><%=idx%></td>
                    <td><a href="/user/profile/<%=user.user.username%>"><%=user.user.name%></a></td>
                    <td><%= user.user.rating %></td>
                    <% idx++ %>
                </tr>
              <%})%>
          </tbody>
        </table>
    </div>
    <nav>
      <ul class="pager">
        <% if(page==1) { %>
         <li class="disabled">
            <a>Previous</a>
         </li>
        <% } else { %>
        <li>
           <a href="?page=<%=prevpage%>" class="disabled">Previous</a>
        </li>
        <% } %>
        <% if(disabledNext) { %>
         <li class="disabled">
            <a>Next</a>
         </li>
        <% } else { %>
          <li><a href="?page=<%=nextpage%>">Next</a></li>
        <% } %>
      </ul>
    </nav>
    <div class="row">
      <div class="col-md-4">
        <div class="btn-group" role="group" aria-label="...">
          <a href="/ranklists/university"><button type="button" class="btn btn-default"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"> Back</span></button></a>
        </div>
      </div>
    </div>
    <br/>
</div>