<% if(session.authenticated) { %>
    <div class="container" style="background-color:red;">
        <h3>Terima kasih kepada anda yang membantu pengujian tugas akhir kami.</h3>
        <h3>Silahkan Join First Contest dan Second Contest pada Contest List.</h3>
        <h3>First Contest akan dimulai pada hari Sabtu Jam 10 pagi hingga 10 malam.</h3>
        <h3>Second Contest akan dimulai pada hari Minggu Jam 10 pagi hingga 10 malam.</h3>
        <h3>Tolong kunjungi halaman ini untuk mengisi kuesioner<br><a href="http://goo.gl/forms/qvntpsiS1Wj9VzBy1" target="_blank"><button type="button" class="btn btn-primary">Click Me!</button></a> atau http://goo.gl/forms/qvntpsiS1Wj9VzBy1</h3>
        <h3>Kontes akan diadakan 2 Kali. Kami harap kehadiran anda untuk mengikuti kedua kontes.</h3>
        <h3>Solve problem perlu Enter pada akhir program.</h3>
    </div>
<% } %>
<div class="container" style="background-color:white;">
    <h2>Welcome <% if(session.authenticated) { %><%=session.User.name%><% } else { %>to Iseloom Problem Archive<% } %>
    <h5>In this site, you can find hundreds of programming problems.<% if(!session.authenticated) { %> If you're new here, just <a href="/register">register</a> and start solving!<% } %></h5>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">Suggested Problems</div>
                <!-- Table -->
                <table class="table table-striped table-hover">
                    <thead>
                        <th>No.</th>
                        <th>Problem</th>
                        <th>Solved</th>
                    </thead>
                    <tbody>
                        <% var idx = 1; %>
                        <% _.each(problems, function(problem) { %>
                            <tr>
                                <% var tot = 0 %>
                                <td><%=idx%></td>
                                <td><a href="/problem/preview?prob=<%=problem.valName%>"><%=problem.name%></a></td>
                                <% for(var i=0;i<submissions.length;i++) { %>
                                    <% if(submissions[i].id_problem==problem.id && submissions[i].result==1) { %>
                                          <% tot++ %>
                                    <% } %>
                                <% } %>
                                <td><%=tot%></td>
                            </tr>
                            <% idx++%>
                        <% }) %>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">Top 10 Ranklists</div>
                <!-- Table -->
                <table class="table table-striped table-hover">
                    <thead>
                        <th>No.</th>
                        <th>Name</th>
                        <th>Rating</th>
                    </thead>
                    <tbody>
                        <% var idx = 1, tempRating = 0, idxSame = 1 %>
                        <% _.each(users, function(user){ %>
                            <% if(idx == 1) { tempRating = user.rating } %>
                            <% if(!user.admin && user.verification && user.activation) { %>
                            <tr>
                                <td><% if(tempRating == user.rating) { %><%=idxSame%><% } else { %><%=idx%><% } %></td>
                                <td><a href="/user/profile/<%=user.username%>"><%=user.name%></a></td>
                                <td><%=user.rating%></td>
                            </tr>
                            <% if(tempRating != user.rating) { tempRating = user.rating; idxSame = idx } %>
                            <% idx++; %>
                            <% } %>
                        <% }) %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>