<div class="container" style="background-color:white">
    <h4 class="text-center">Edit Contest <%=contest.name%></h4>
    <br><br>
    <form  method="post" action="/contest/edit_contest/<%=contest.id%>" class="form-horizontal" role="form">
          <div class="form-group">
          <label class="control-label col-md-4 required">Contest Name : </label>
          <div class="col-md-8">
          <input type="text" id="contest_name" name="contestname" required="required" pattern=".{2,}" class="form-control" value="<%=contest.name%>">
          </div>
          </div>
          <div class="form-group">
          <label class="control-label col-md-4 required">Date / Time Open : </label>
          <div class="col-md-8">
          <input type="text" id="datetimeopen" name="datetimeopen" required="required" class="form-control time-class" value="<%=contest.datetimeopen%>">
          </div>
          </div>
          <div class="form-group">
          <label class="control-label col-md-4 required">Date / Time Close : </label>
          <div class="col-md-8">
          <input type="text" id="datetimeclose" name="datetimeclose" required="required" class="form-control time-class" value="<%=contest.datetimeclose%>">
          </div>
          </div>
          <div class="form-group">
          <label class="control-label col-md-4 required">Freeze Time (in Minutes) : </label>
          <div class="col-md-8">
          <input type="text" id="freezetime" name="freezetime" required="required" class="form-control" value="<%=contest.freezetime%>">
          </div>
          </div>
          <div class="form-group">
          <label class="control-label col-md-4 required">Stop : </label>
          <div class="col-md-8">
          <select id="stop" name="stop" required="required" class="form-control">
          <% if(contest.stop) { %>
            <option value="true" selected>Yes</option>
            <option value="false">No</option>
          <% } else { %>
            <option value="true">Yes</option>
            <option value="false" selected>No</option>
          <% } %>
          </select>
          </div>
          </div>
          <div class="form-group">
          <label class="control-label col-md-4 required">Publish : </label>
          <div class="col-md-8">
          <select id="publish" name="publish" required="required" class="form-control">
          <% if(contest.publish) { %>
            <option value="true" selected>Yes</option>
            <option value="false">No</option>
          <% } else { %>
            <option value="true">Yes</option>
            <option value="false" selected>No</option>
          <% } %>
          </select>
          </div>
          </div>
          <div class="form-group">
          <div class="col-md-offset-4 col-md-2">
          <button type="submit" id="editcontest" name="editcontest" class="btn-color form-control btn btn-primary">Edit Contest</button>
          </div>
          </div>
    </form>
</div>
<script>
    $('.time-class').datetimepicker();
</script>