<div class="container" style="background-color:white">
    <% if(session.authenticated && !session.User.admin && userActiveContests.length > 0) {%>
      <br>
      <legend>My Contest</legend>
      <div class="table-responsive">
          <table class="table table-bordered table-hover table-striped">
              <thead>
                    <th>Name</th>
                    <th>Length</th>
                    <th>Start Time</th>
                    <th>End Time</th>
                    <th></th>
            </thead>
            <tbody>
                <% _.each(userActiveContests, function(usercontest){%>
                  <% range = (usercontest.id_contest.datetimeclose - usercontest.id_contest.datetimeopen)/1000 %>
                  <tr>
                      <td><%=usercontest.id_contest.name%></td>
                      <td><%=Math.floor(range/3600)%>:<%=("0" + (range/60)%60).slice(-2)%>:<%=("0" + range%60).slice(-2)%></td>
                      <% var date_open = new Date(usercontest.id_contest.datetimeopen); %>
                      <% var format ="AM";
                          var hour=date_open.getHours();
                          var min=date_open.getMinutes();
                          if(hour>11){format="PM";}
                          if (hour   > 12) { hour = hour - 12; }
                          if (hour   == 0) { hour = 12; }
                          if (min < 10){min = "0" + min;} %>
                      <% var txt_date_open = date_open.getDate()+"/"+(date_open.getMonth()+1)+"/"+date_open.getFullYear()+" "+hour+":"+min+" "+format; %>
                      <td><%=txt_date_open%></td>
                      <% var date_close = new Date(usercontest.id_contest.datetimeclose); %>
                      <% var format ="AM";
                          var hour=date_close.getHours();
                          var min=date_close.getMinutes();
                          if(hour>11){format="PM";}
                          if (hour   > 12) { hour = hour - 12; }
                          if (hour   == 0) { hour = 12; }
                          if (min < 10){min = "0" + min;} %>
                      <% var txt_date_close = date_close.getDate()+"/"+(date_close.getMonth()+1)+"/"+date_close.getFullYear()+" "+hour+":"+min+" "+format; %>
                      <td><%=txt_date_close%></td>
                      <% if(session.authenticated && session.User.admin) { %>
                        <td><a href="scoreboard/<%=usercontest.id_contest.id%>"><span class="glyphicon glyphicon-equalizer" aria-hidden="true" title="Scoreboard"></span></a></td>
                        <td><a href="problemset/<%=usercontest.id_contest.id%>"><span class="glyphicon glyphicon-th-list" aria-hidden="true" title="Set Problems"></span></a></td>
                        <td><a href="edit/<%=usercontest.id_contest.id%>"><span class="glyphicon glyphicon-pencil" aria-hidden="true" title="Edit usercontest.id_contest"></span></a></td>
                        <td><a href="remove/<%=usercontest.id_contest.id%>"><span class="glyphicon glyphicon-remove" aria-hidden="true" title="Remove Contest"></span></a></td>
                      <% } else if (now >= usercontest.id_contest.datetimeopen && now <= usercontest.id_contest.datetimeclose) {%>
                        <td><a href="scoreboard/<%=usercontest.id_contest.id%>"><button class="btn-success">Go To Contest!</button></a></td>
                      <% } else {%>
                        <td><a href="scoreboard/<%=usercontest.id_contest.id%>"><span class="glyphicon glyphicon-equalizer" aria-hidden="true" title="Scoreboard"></span></a></td>
                      <% } %>
                  </tr>
                <%})%>
            </tbody>
          </table>
      </div>
    <% } %>
    <br>
    <legend>Contest List</legend>
    <div class="table-responsive">
        <table class="table table-bordered table-hover table-striped">
            <thead>
                  <th>Name</th>
                  <th>Length</th>
                  <th>Start Time</th>
                  <th>End Time</th>
                  <% if(session.authenticated && session.User.admin) { %>
                    <th colspan="5"></th>
                  <% } %>
          </thead>
          <tbody>
              <% if (contests.length < 1) { %>
                <tr>
                    <td colspan="5">No contests.</td>
                </tr>
              <% } %>
              <% _.each(contests, function(contest){%>
                <% range = (contest.datetimeclose - contest.datetimeopen)/1000 %>
                <tr>
                    <td><%=contest.name%></td>
                    <td><%=Math.floor(range/3600)%>:<%=("0" + (range/60)%60).slice(-2)%>:<%=("0" + range%60).slice(-2)%></td>
                    <% var date_open = new Date(contest.datetimeopen); %>
                    <% var format ="AM";
                        var hour=date_open.getHours();
                        var min=date_open.getMinutes();
                        if(hour>11){format="PM";}
                        if (hour   > 12) { hour = hour - 12; }
                        if (hour   == 0) { hour = 12; }
                        if (min < 10){min = "0" + min;} %>
                    <% var txt_date_open = date_open.getDate()+"/"+(date_open.getMonth()+1)+"/"+date_open.getFullYear()+" "+hour+":"+min+" "+format; %>
                    <td><%=txt_date_open%></td>
                    <% var date_close = new Date(contest.datetimeclose); %>
                    <% var format ="AM";
                        var hour=date_close.getHours();
                        var min=date_close.getMinutes();
                        if(hour>11){format="PM";}
                        if (hour   > 12) { hour = hour - 12; }
                        if (hour   == 0) { hour = 12; }
                        if (min < 10){min = "0" + min;} %>
                    <% var txt_date_close = date_close.getDate()+"/"+(date_close.getMonth()+1)+"/"+date_close.getFullYear()+" "+hour+":"+min+" "+format; %>
                    <td><%=txt_date_close%></td>
                     <% if(session.authenticated && !session.User.admin && contest.datetimeopen > new Date()) { %>
                      <% if(!contestRegis[contest.id]) { %>
                        <td><a href="add_contestant/<%=contest.id%>"><button class="btn btn-success"><span class="glyphicon glyphicon-log-in" aria-hidden="true" title="Join Contest"></span> Join!</button></a></td>
                      <% } else { %>
                        <td><a href="remove_contestant/<%=contest.id%>"><button class="btn btn-danger"><span class="glyphicon glyphicon-log-out" aria-hidden="true" title="Unjoin Contest"></span> Unjoin!</button></a></td>
                      <% } %>
                    <% } %>
                    <% if(session.authenticated && session.User.admin) { %>
                      <td><a href="scoreboard/<%=contest.id%>"><span class="glyphicon glyphicon-equalizer" aria-hidden="true" title="Scoreboard"></span></a></td>
                      <td><a href="problemset/<%=contest.id%>"><span class="glyphicon glyphicon-th-list" aria-hidden="true" title="Set Problems"></span></a></td>
                      <td><a href="edit/<%=contest.id%>"><span class="glyphicon glyphicon-pencil" aria-hidden="true" title="Edit Contest"></span></a></td>
                      <td><a href="remove/<%=contest.id%>"><span class="glyphicon glyphicon-remove" aria-hidden="true" title="Remove Contest"></span></a></td>
                      <% if(contest.freeze && contest.datetimeclose < new Date()) { %>
                        <td><a href="unfreeze/<%=contest.id%>"><span class="glyphicon glyphicon-check" aria-hidden="true" title="Unfreeze"></span></a></td>
                      <% } %>
                    <% } else if (contest.datetimeopen <= new Date()) {%>
                      <td><a href="scoreboard/<%=contest.id%>"><span class="glyphicon glyphicon-equalizer" aria-hidden="true" title="Scoreboard"></span></a></td>
                    <% } %>
                </tr>
              <%})%>
          </tbody>
        </table>
    </div>
</div>
