<div class="container" style="background-color:white">
    <br>
    <div class="table-responsive">
        <table class="table table-bordered table-hover table-striped">
            <thead>
                  <th>Name</th>
                  <th>Length</th>
                  <th>Start Time</th>
                  <th>End Time</th>
                  <% if(session.authenticated && session.User.admin) { %>
                    <th colspan="3"></th>
                  <% } %>
          </thead>
          <tbody>
              <% _.each(contests, function(contest){%>
                <% range = (contest.datetimeclose - contest.datetimeopen)/1000 %>
                <tr>
                    <td><%=contest.name%></td>
                    <td><%=Math.floor(range/3600)%>:<%=("0" + (range/60)%60).slice(-2)%>:<%=("0" + range%60).slice(-2)%></td>
                    <td><%=contest.datetimeopen%></td>
                    <td><%=contest.datetimeclose%></td>
                    <% if(session.authenticated && session.User.admin) { %>
                      <td><a href="scoreboard/<%=contest.id%>"><span class="glyphicon glyphicon-equalizer" aria-hidden="true" title="Scoreboard"></span></a></td>
                      <td><a href="problemset/<%=contest.id%>"><span class="glyphicon glyphicon-th-list" aria-hidden="true" title="Set Problems"></span></a></td>
                      <td><a href="edit/<%=contest.id%>"><span class="glyphicon glyphicon-pencil" aria-hidden="true" title="Edit Contest"></span></a></td>
                      <td><a href="remove/<%=contest.id%>"><span class="glyphicon glyphicon-remove" aria-hidden="true" title="Remove Contest"></span></a></td>
                    <% } %>
                </tr>
              <%})%>
          </tbody>
        </table>
    </div>
</div>