<div class="container" style="background-color:white">
    <br>
    <div class="table-responsive">
        <table class="table table-bordered table-hover table-striped">
            <thead>
                  <th>Name</th>
                  <th>Length</th>
                  <th>Start Time</th>
                  <th>End Time</th>
                  <th></th>
          </thead>
          <tbody>
              <% _.each(contests, function(contest){%>
                <% range = (contest.datetimeclose - contest.datetimeopen)/1000 %>
                <tr>
                    <td><%=contest.name%></td>
                    <td><%=range/3600%>:<%=("0" + (range/60)%60).slice(-2)%>:<%=("0" + range%60).slice(-2)%></td>
                    <td><%=contest.datetimeopen%></td>
                    <td><%=contest.datetimeclose%></td>
                    <td><button></button></td>
                </tr>
              <%})%>
          </tbody>
        </table>
    </div>
</div>