<div class="container" style="background-color:white" ng-app="scoreboard" ng-controller="MainCtrl">
<% if(flash) { %>
<% if(flash.err) { %>
      <div>
      <br><br>
      <div class="alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        <% Object.keys(flash.err).forEach(function(error) { %>
              <%= flash.err[error] %>
        <% }) %>
      </div>
      </div>
<% } else if (flash.success){ %>

<% } %>
<% } %>
    <h3 class="text-center">Scoreboard <%=contest.name%>
      <br/>
      <% if(contest.freeze && ((contest.datetimeclose - new Date()) < contest.freezetime * 60000)) { %><% var check = true %><% var datefreeze = contest.datetimeclose.getTime() - (contest.freezetime*60000) %>(FREEZE since <span id="time"></span>)<% } %>
    </h3>
    <% if(contest.datetimeopen <= new Date()) { %>
      <h4 id="clock" class="text-center"></h4>
    <% } else { %>
      <h4 class="text-center">Not yet start.</h4>
    <% } %>
    <% if(session.authenticated) { %>
        <% if(session.User.admin) { %>
            <% if(!contest.approve && show_approval) { %>
                <a href="/contest/apply_rating/<%=contest.id%>" class="btn btn-success">Approve Contest</a>
            <% } %>
            <a href="/contest/allsubmission/<%=contest.id%>" class="btn btn-info">See All Submissions</a>
        <% } %>
        <!--<a class="btn btn-primary" type="button" href="/contest/clarification/<%=contest.id%>" style="margin: 0 auto; float :none;">
            Clarifications <span class="badge">{{notifications}}</span>
        </a>-->
        <br><br>
    <% } %>

    <div class="table-responsive">
      <table class="table table-bordered table-hover table-striped">
          <thead>
              <th>#</th>
              <th>Name</th>
              <th>Univ</th>
              <th>Solved</th>
              <th>Score</th>
              <% _.each(problems, function(problem) { %>
                  <th>
                  <% if(session.authenticated && contest.datetimeclose >= new Date()) { %>
                      <a href="/problem/preview?prob=<%=problem.valName%>&idc=<%=contest.id%>"><%=problem.valName%></a>
                  <% } else {%>
                      <%=problem.valName%>
                  <% } %>
                  </th>
              <% }) %>
          </thead>
          <tbody>
             <% var idx = 1 %>
                    <tr ng-repeat="user in users" ng-if="loadingData==false">
                          <td>{{user.index}}</td>
                          <td>{{user.name}}</td>
                          <td>{{user.university}}</td>
                          <td>{{user.solved}}</td>
                          <td>{{user.score}}</td>
                          <td ng-repeat="problem in user.problem" style="background-color:{{problem.bg_color}}; color:{{problem.color}}">
                              <span ng-if="problem.tried==0"></span>
                              <span ng-if="problem.tried>=1">
                                  <span ng-if="problem.res==true">{{problem.tried}} <span ng-if="problem.tried==1">({{problem.min}})</span><span ng-if="problem.tried>1">({{problem.min}} + {{(problem.tried-1)*20}})</span></span>
                                  <span ng-if="problem.res==false">{{problem.tried}}</span>
                              </span>
                          </td>
                    </tr>
          </tbody>
      </table>
      <h4 style="text-align:center; margin-bottom:20px" ng-if="loadingData">Loading Data</h4>
    </div>
</div>
<script src="/scripts/scoreboard.js"></script>
<script>
    var d = new Date('<%=contest.datetimeclose%>');
    var clock_div_name = '#clock';
    $(clock_div_name).countdown(d).on('update.countdown', function(event) {
        $(this).html(event.strftime('%D days %H:%M:%S'));
    }).on('finish.countdown', function(event) {
      $(this).html('Contest has done.')
    });
    if ("<%=check%>") {
      Number.prototype.padLeft = function(base,chr){
        var  len = (String(base || 10).length - String(this).length)+1;
        return len > 0? new Array(len).join(chr || '0')+this : this;
      };
      var date = new Date("<%=new Date(datefreeze)%>");
      dformat = [date.getHours().padLeft(),
                 date.getMinutes().padLeft(),
                 date.getSeconds().padLeft()].join(':');
      $('#time').html(dformat);
    }
</script>
